<!DOCTYPE html>
<html xmlns: th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fill out form</title>
</head>
<body>

<form th:action="@{/products/edit}" method="post" th:object="${products}">
    <br> <label for="id">Id:</label>
    <input type="text" id="id"  th:field="*{id}" placeholder="type id"/><br/>
    <br> <label for="name">Name:</label>
    <input type="text" id="name" th:field="*{name}" placeholder="type name" /><br/>
    <br> <label for="price">Price:</label>
    <input type="number" id="price" th:field="*{price}" placeholder="type price" /><br/>
    <br> <label for="category">Category:</label>
    <input type="number" id="category" th:field="*{category.id}" placeholder="type category" /><br/>
    <br><input type="submit" value="Submit"><br/>
</form>



</body>
</html>