<!DOCTYPE html>
<html xmlns: th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create products</title>
</head>
<body>

<form th:action="@{/products}" method="post" th:object="${products}">
    <br> <label for="name">Name:</label>
    <input type="text" id="name"  th:field="*{name}"  placeholder="type product name" /><br/>

    <br> <label for="price">Price:</label>
    <input type="number" id="price" th:field="*{price}" placeholder="type product price" /><br/>

    <br> <label for="category">Category:</label>
    <input type="number" id="category" th:field="*{category.id}" placeholder="type category type" /><br/>

</form>



</body>
</html>