<!DOCTYPE html>
<html xmlns: th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>


<div th:each="prod : ${product}">
    <p>Id: <span th:text="${prod.id}"></span></p>
    <p>Name: <span th:text="${prod.name}"></span></p>
    <p>Price: <span th:text="${prod.price}"></span></p>

    <a th:href="@{/products/get/edit/{id}(id=${prod.id})}"><button>Edit</button></a>
    <a th:href="@{/products/info/{id}(id=${prod.id})}"><button>View</button></a>
</div>



</body>
</html>