<!DOCTYPE html>
<html xmlns: th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Information about Product</title>
</head>
<body>

<p>Name <span th:text="${products.name}"></span></p>
<p>Price <span th:text="${products.price}"></span></p>
<p>Category: <span th:text="${category.name}"></span></p>



<div th:each="option, statsOption : ${options}">
    <div th:each="value, statsValue : ${values}">
        <p th:if="${statsOption.index} == ${statsValue.index}">
            Options: <span th:text="${option.name} + ' : ' + ${value.name}"></span>
        </p>
    </div>
</div>

<p>Average Rating: <span th:text="${averageRating}"></span></p>


<div th:each="review : ${reviews}">
    <p>User: <span th:text="${review.users.firstName + ' ' + review.users.lastName}"></span></p>
    <p>Reviews: <span th:text="${review.review}"></span></p>


</div>


</body>
</html>