<!DOCTYPE html>
<html xmlns: th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>


<div th:if="${form == 'categories'}">
    <form th:action="@{/data_controller/resource_1}" method="get" th:object="${categories}">
        <br><label for="category">Category:</label>
            <input type="text" id="category"  th:name="name" placeholder="type category name"/>
        <button type="submit">Filtrate</button><br/>
    </form>
</div>

<div th:if="${form == 'products'}">
    <form th:action="@{/data_controller/resource_4}" method="get" th:object="${products}">
    <br><label for="product">Product:</label>
        <input type="text" id="product"  th:name="name" placeholder="type product name" />
    <button type="submit">Filtrate</button><br/>
</form>
</div>



<div th:each="category : ${categories}">
    <p>Category id: <span th:text="${category.getId()}"></span></p>
    <p>Category name: <span th:text="${category.getName()}"></span></p>
</div>

<div th:each="product : ${products}">
    <p>Product id: <span th:text="${product.getId()}"></span></p>
    <p>Product name: <span th:text="${product.getName()}"></span></p>
    <p>Product price: <span th:text="${product.getPrice()}"></span></p>
</div>

</body>
</html>

